body {
  margin: 0;
  font-family: "Poppins", "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f8fafc;
}

input,
select,
button {
  font-family: inherit;
}

code {
  font-family: "JetBrains Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
}
